@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --bg-second:#37b182;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
body.dark 
{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --bg-second:#30946e;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}
body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;
}
ul
{
    list-style: none;
}
.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
.section.back-section
{
    z-index: 1;
}
.section.active {
    z-index: 2;
    opacity: 1;
    animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hidden
{
    display: none !important;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.padd-10
{
    padding-left: 7px;
    padding-right: 7px;
}
.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--bg-second);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--bg-second);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.section-title h3
{
    font-size: 30px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    align-items: stretch;
}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--bg-second);
    transition: all 0.3s ease;
}
.btn:hover
{
    transform: scale(1.05);
}
.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* About */
.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span
{
    color: var(--bg-second);
}
.about .about-content .about-text p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about-content .personal-info,
.about .about-content .skills {
    flex: 0 0 33.333333%;    /* Ogni colonna occuperà esattamente un terzo dello spazio */
    max-width: 33.333333%;
    margin-top: 40px;
    padding: 0 15px;         /* Manteniamo lo spazio tra le colonne */
}


.info-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;  /* Compensa il padding degli elementi figli */
}
.about .about-content .personal-info .info-item {
    flex: 0 0 auto;         /* Permette agli elementi di mantenere la loro larghezza naturale */
    margin-bottom: 15px;    /* Spazio tra le righe quando vanno a capo */
    margin-right: 20px;     /* Spazio tra gli elementi orizzontali */
}
.about .about-content .personal-info .info-item p {
    display: inline-block;  /* Mantiene il testo sulla stessa riga */
    white-space: nowrap;    /* Previene l'andare a capo del testo */
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span {
    display: inline-block;
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
}
.about .about-content .personal-info .buttons
{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn
{
    margin-top: 10px;
}
.about .about-content .skills .skill-item
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item
{
    margin-bottom: 25px;
}
.about .about-content .skills .skill-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--bg-second);
}
.about .about-content .skills .skill-item .skill-percent
{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.title 
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about-content .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--bg-second);
}
.about .about-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--bg-second);
}
.about .about-content .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa 
{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}
@media (max-width:1199px)
{
    .section .container
    {
        padding-top: 70px;
    }
    .section
    {
        left: 0;
    }
    .section.open 
    {
        left: 270px;
    }
    .about .about-content .personal-info .info-item p span 
    {
        display: block;
        margin-left: 0;
    }
}
@media (max-width:991px)
{
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width:767px)
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.src_timeline-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
    
.src_timeline {
    position: relative;
    padding: 20px 0;
}

.src_timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--bg-second);
    top: 0;
    bottom: 0;
    top: 30px;  /* Modificato per iniziare dopo il primo elemento */
    bottom: 30px;  /* Modificato per terminare prima dell'ultimo elemento */
    left: 75px;
    margin-left: -2px;
}

.src_timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
}

.src_timeline-img {
    width: 150px;
    height: 210px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-right: 30px;
    transition: transform 0.3s ease;
    z-index: 2;
}

.src_timeline-img:hover {
    transform: scale(1.1);
    z-index: 3; 
}

.src_timeline-content {
    padding: 20px;
    border-radius: 0px;
    flex: 1;
}

.src_timeline-date {
    color: var(--bg-second);
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.src_timeline-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--text-black-900);
}

.src_timeline-authors {
    font-style: italic;
    color: var(--text-black-700);
    margin-bottom: 10px;
}

.src_timeline-journal {
    font-size: 0.9em;
    color: var(--text-black-700);
}

.external-link {
    color: var(--text-black-900); 
    font-weight: bold;
    text-decoration: none;
}
